body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #1f2937;
    color: white;
    padding-top: 20px;
}

    .sidebar a {
        display: block;
        padding: 12px;
        color: white;
        text-decoration: none;
    }

        .sidebar a:hover {
            background: #374151;
        }

/* MAIN */
.main {
    flex: 1;
    padding: 20px;
}

/* FORM */
.form-box {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

    table th, table td {
        border: 1px solid #ddd;
        padding: 10px;
    }

/* BUTTON */
button {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}
